<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shop</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/AdminAssets/assets/images/logo/favicon.png">

    <!-- page css -->
    <!-- Core css -->
    <link href="~/AdminAssets/assets/css/app.min.css" rel="stylesheet">
</head>

<body>


    @RenderBody()


    <!-- JavaScript Libraries -->
    <script src="~/AdminAssets/assets/js/vendors.min.js"></script>

    <!-- page js -->
    <!-- Core JS -->
    <script src="~/AdminAssets/assets/js/app.min.js"></script>
</body>

</html>