@model Shop_DT.Models.Payment

@{
    ViewData["Title"] = "Xóa phương thức thanh toán";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminPayments" asp-action="Index">Danh sách phương thức thanh toán</a>
            <span class="breadcrumb-item active">Xóa phương thức thanh toán</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Xóa phương thức thanh toán</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>Tên phương thức:</td>
                        <td>@Model.PaymentName</td>
                    </tr>
                    <tr>
                        <td>Mô tả:</td>
                        <td>@Model.PaymentDes</td>
                    </tr>
                    <tr>
                        <td>Trạng thái:</td>
                        <td>
                            @if (Model.Active)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>Hoạt động</div>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-danger badge-dot m-r-10"></div>
                                    <div>Ngưng hoạt động</div>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Xác nhận xóa:</td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@Model.PaymentId">
                                <input type="hidden" asp-for="PaymentId" />
                                <input type="submit" value="Xóa" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

