@model Shop_DT.Models.Location

@{
    ViewData["Title"] = "Thông tin tỉnh thành";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminLocations" asp-action="Index">Danh sách tỉnh thành</a>
            <span class="breadcrumb-item active">Thông tin tỉnh thành</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin tỉnh thành</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td>@Model.LocationId</td>
                    </tr>
                    <tr>
                        <td>Tên:</td>
                        <td>@Model.Name</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
