<!-- Begin Footer Area -->
        <div class="footer-area">
            <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#45bbf1;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="widget-item">
                                <div class="footer-logo pb-4">
                                    <a href="index.html">
                                        <img src="~/assets/images/logo/mobile-store.png" height="100" width="170" alt="Logo">
                                    </a>
                                </div>
                                
                                <div class="widget-contact-info pb-6">
                                    <ul>
                                        <li>
                                            <i class="pe-7s-map-marker"></i>
                                            126 Nguyễn Thiện Thành, Phường 5, Trà Vinh
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                            <div class="widget-item">
                                <h3 class="widget-title mb-5">Họ và tên</h3>
                                <ul class="widget-list-item">
                                    <li>
                                        <a href="javascript:void(0)">Nguyễn Hoài Nam</a>
                                    </li>
                                    
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                            <div class="widget-item">
                                <h3 class="widget-title mb-5">MSSV</h3>
                                <ul class="widget-list-item">
                                    <li>
                                        <a href="javascript:void(0)">110119029</a>
                                    </li>
                                    
                                    
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="footer-bottom py-3" data-bg-color="#00abfd">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright">
                                <span class="copyright-text text-white">Đề tài: Xây dựng website bán điện thoại</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Area End Here -->
        