@model List<Payment>
@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header" id="#payment-1">
                <h5 class="panel-title">
                    <a href="javascript:void(0)" class="" data-bs-toggle="collapse" data-bs-target="#@item.PaymentName" aria-expanded="true">
                        @item.PaymentName
                    </a>
                </h5>
            </div>
            <div id="@item.PaymentName" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    <p>
                        @item.PaymentDes
                    </p>
                </div>
            </div>
        </div>
    }
}

