@model Shop_DT.HomeView.ChangePasswordViewModel
<div class="myaccount-details">
    <h4>Thay đổi mật khẩu</h4>
    <form asp-action="ChangePassword" asp-controller="Account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="myaccount-form-inner">
            <div class="single-input single-input-half">
                <label>Mật khẩu cũ</label>
                <input type="password" asp-for="PasswordNow" class="form-control">
            </div>
            <div class="single-input single-input-half">
                <label>Mật khẩu mới</label>
                <input type="password" asp-for="Password" class="form-control">
            </div>
            <div class="single-input">
                <label>Nhập lại mật khẩu mới</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control">
            </div>
            <div class="single-input" style="margin-top:20px">
                <input type="submit" class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" value="Lưu thay đổi" />
            </div>
        </div>
    </form>
</div>